STORAGE_DIR='/app/server/storage'
SERVER_PORT='3001'
LLM_PROVIDER='generic-openai'
GENERIC_OPEN_AI_BASE_PATH='{{ vault_ollama_host }}'
GENERIC_OPEN_AI_API_KEY='{{ vault_ollama_api_key }}'
GENERIC_OPEN_AI_MODEL_PREF='{{ vault_ollama_model }}'
GENERIC_OPEN_AI_MAX_TOKENS='4096'
EMBEDDING_ENGINE='native'
VECTOR_DB='lancedb'
DISABLE_TELEMETRY='true'
